* {
margin:0;
  padding:0;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    text-align: center;
    background-color: black;
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-top: 25px;
    

}
.menu ul {
   text-align: center;
   margin-top: 30px;
}
.menu ul li a{
   text-decoration: none;
   font-size: 20px;
   font-family: 'Grenze Gotisch', cursive;
   color: white;
   padding: 10px;
   border-radius: 4px;
   
}
.menu{
   width: 100%;
   height: 80px;
   background-color: black;
   /*position: sticky;
   top: 99px;*/
   z-index: 2;
}

/* Style the top navigation bar */
/*.topnav {
  overflow: hidden;
  background-color: #333;
}
*/
/* Style the topnav links */
/*.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/* Change color on hover */
/*.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
 text-align: center;
  width: 100%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.product-image{
  max-width: 100%;
  padding:10px;

}

.product-image img{
  max-width:100%;
  height:auto;
  max-height: 200px;
}

.single-product{
  text-align: center;
}


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.product{
    background-color: #3333;
    padding: 10px;
    margin: 5px;
    width: 30%;
    float: left;
    height:300px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
.product-price{
  color:lightblue;

}

.product-title{
  font-size:16px;
  margin:0px;

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  background-color: black;
}


/*phan trang*/
.pagination-wrap {
    text-align: center;
    width: 100%;
    float: left;
    display: block;

}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/*END phan trang */



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and ( max-width: 800px ) {

/*section => khi nao man hinh width <= 800px => thi doan code trong day se dc chay */
.leftcolumn , .rightcolumn{
  width: 100% ;
}

.product{
  width: 42%;
}

}
.main{
  background-color: black;
}
.con{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  background-color: black;
  float: right;
   margin-right: 5px;
   text-align: center;

}
.anh1{
   display: inline-block;
   margin-left: 10px;

}
.anh2{
  display: inline-block;
   margin-left: 30px;
}
.anh3{
   display: inline-block;
   margin-left: 30px;
}
.tao{
margin-left: 30px;
}
.con ul li a{
   text-decoration: none;
   font-family: 'Balsamiq Sans', cursive;
}
body{
   background: black;
}
.con p{
   
   font-family: 'Balsamiq Sans', cursive;
}
.menu ul li a:hover {
   background-color:pink;
}
.logo{
   
   width: 100%;
   height: 100px;
   background: white;
   position: sticky;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;

}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
 